# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
__pycache__/
*.py[cod]
*$py.class
.vscode
.idea
.env
temp/
taxGPT-env/

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/
/frontend/src/stories/*
# production
/frontend/build
# /frontend/public/storybook/

# misc
/frontend/.DS_Store
/frontend/*.pem

Google_Cloud_Doc_AI_Secret_Key.json

*:Zone.Identifier
# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# local env files
/frontend/.env*.local

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts


/frontend/serviceAccountKey.json

/backend/env

/backend/.vscode
/backend/.env

/backend/static

/backend/taxGPTbackend/__pycache__/*.pyc

*.pyc

venv

/backend/script.py

storybook-static
notes.md